{{#each this}}

    <div class="note {{[helpers/isFinished] isFinished}}" data-created="{{createdDate}}">
        <div class="listDateStatus">
            <p data-finished="{{createdDate}}">{{createdDate}}</p>
            <p><input id="checkBoxisFinished" type="checkbox" data-id="{{id}}" {{[helpers/isFinishedChecked] isFinished}}> Finished</p>
            <p data-finished="{{datepicker}}">{{datepicker}}</p>
        </div>
        <div class="listTitleDescriptionImportance">
            <div class="flexTitleImportance">
                <div class="title">
                    <p>{{title}}</p>
                </div>
                <div class="note__importance">
                    <div class="importance" data-id="{{id}}" data-importance="{{importance}}">
                        {{{[helpers/selectImportance] importance}}}
                    </div>
                </div>
            </div>
            <textarea class="description" name="description" cols="30" rows="6" data-description-id="{{id}}" disabled="disabled">{{description}}</textarea>
        </div>
        <div class="listActionButton">
            <button id="listEdit" data-id="{{id}}">Edit</button>
            <button id="listDelete" data-id="{{id}}">Delete</button>
        </div>
    </div>

{{/each}}